<div class="jumbotron">
  <h1>Days Off</h1>
  <p class="lead">
    <img src="images/team.jpg" alt="A nice solution for small teams"><br>
    <blockquote>
      <p>"What do dogs do on their day off?; Can't lie around – that's their job!"</p>
      <footer>George Carlin</footer>
    </blockquote>

  </p>
</div>

<div class="row marketing">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          What is Days Off?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        "Days Off" is a simple tool that allows supervisors to easily approve requests of days off made by employees. Even when they are not at their desk, managers can approve or deny requests using any desktop or mobile device.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How is it built?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        This web application has been built with AngularJS. A similar mobile application is available as well. The server side application has been developed with Node.js and the Loopback framework.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Would you like to contribute to the development?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        That would be great! The repositories are available on my <a src="https://github.com/scigoli">Github account</a>
      </div>
    </div>
  </div>
</div>
</div>
